.chatting {
  background-color: var(--no3-color);
}

.chatting .status-bar {
  background-color: var(--no3-color);
}

.date {
  margin-top: 60px;
  text-align: center;
}

.date > span {
  width: 100px;
  height: 20px;
  border-radius: 20px;
  background-color: var(--gray);
  color: white;
  padding: 4px 12px;
  font-size: 14px;
}
@keyframes opponentChatAppear {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.opponent-chat {
  padding-top: 30px;
  display: flex;
  opacity: 0;
  animation: opponentChatAppear 1s ease-in-out forwards;
}

.opponent-chat:nth-child(4) {
  animation-delay: 2s;
}
.opponent-chat:nth-child(6) {
  animation-delay: 4s;
}
.opponent-chat:nth-child(7) {
  animation-delay: 4.5s;
}
.opponent-chat:nth-child(8) {
  animation-delay: 6s;
}

.opponent-chat img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 10px;
}

.message__column {
  display: flex;
  flex-direction: column;
}

.message__name {
  margin-bottom: 6px;
}

.message__text {
  border-radius: 10px;
  border-top-left-radius: 0;
  background-color: white;
  text-align: center;
  padding: 10px 10px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__time {
  text-align: start;
  margin: 0 10px;
}

.my-chat {
  display: flex;
  opacity: 0;
  justify-content: flex-end;
  animation: myChatAppear 1s ease-in-out forwards;
}

.my-chat:nth-child(3) {
  animation-delay: 1s;
}

.my-chat:nth-child(5) {
  animation-delay: 3s;
}

.my-chat:nth-child(7) {
  animation-delay: 5s;
}

.my-chat .message__text {
  border-top-right-radius: 0;
  border-top-left-radius: 10px;
}

.message__info img {
  height: 70px;
  width: 70px;
  margin: 20px;
  animation: shaking 1s ease-in-out infinite;
}

.opponent-chat .message__info img {
  animation: thumb 1s ease-in-out infinite;
}

@keyframes shaking {
  0% {
    transform: 0;
  }
  15% {
    transform: scaleY(1.2);
  }
  25% {
    transform: scaleX(1.2);
  }
  50% {
    transform: scaleY(1.6);
  }
  75% {
    transform: scaleX(1.6);
  }
  100% {
    transform: 0;
  }
}

@keyframes thumb {
  0% {
    transform: 0;
  }
  15% {
    transform: scale(1.2);
  }
  20% {
    transform: skew(30deg, 20deg);
  }
  40% {
    transform: scale(1.4);
  }
}

@keyframes myChatAppear {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.reply {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  font-size: 30px;
  padding: 6px 10px;
  padding-right: 20px;
  background-color: white;
}

.reply__column {
  position: relative;
}

.reply__column:first-child {
  width: 5%;
  margin-left: 10px;
}

.reply__column:last-child {
  width: 90%;
}

.reply input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  margin-right: 10px;
  border-radius: 30px;
  border: 1px solid var(--gray);
  transition: all 0.2s ease-in-out;
}

.reply__column .buttons {
  position: absolute;
  display: flex;
  right: -7px;
  top: 7px;
}

.reply__column button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 5px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: white;
  font-size: 14px;
}

.reply__column button:nth-child(2) {
  background-color: var(--no4-color);
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-laugh-beam {
  opacity: 0;
}

.reply:focus-within input {
  width: 95vw;
  transform: translateX(-10%);
}
